@charset "utf-8";
header {
  position: relative;
  margin-bottom: 200px;
}
header ul {
  list-style: none;
}

header ul li a {
  text-decoration: none;
  display: flex;
  color: #333;
  font-size: 1.563rem;
}
.headercontainer {
  display: flex;
  justify-content: right;
  margin-right: 20px;
}
header h1 {
  font-size: 9.375rem;
  color: #333;
  margin-left: 200px;
}
header p {
  font-size: 2rem;
  color: #333;
  position: absolute;
  left: 1150px;
  bottom: -35px;
  font-weight: bold;
}

header span a {
  text-decoration: none;
  position: absolute;
  color: #333;
  font-size: 1.25rem;
  rotate: 90deg;
  font-weight: bold;
  left: 1670px;
  bottom: -80px;
}
main {
  position: relative;
  overflow: hidden;
  height: 80vh;
}
main h1 {
  font-size: 6.25rem;
  color: #333;
  margin-left: 50px;
  position: absolute;
}
main .skillbox {
  width: 40%;
  margin: 40px auto;
  position: relative;
  height: 400px;
}
main .swiper-slide {
  border-top: 6px solid #666;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}
main .swiper-slide h2 {
  font-size: 3.75rem;
  color: #333;
}
main .swiper-slide p {
  font-size: 1.125rem;
  font-weight: bold;
  color: #666;
}
.ProjectPage {
  position: relative;
  height: 400vh;
}
.ProjectPage .pro h1 {
  font-size: 7.5rem;
  margin: 0;
}
.ProjectPage .pro h4 {
  font-size: 2rem;
  color: #2b9df2;
}
.ProjectPage .pro p {
  font-size: 1.125rem;
  color: #666;
}

.ProjectPage .logo {
  width: 150px;
}
.ProjectPage .phone {
  width: 300px;
}
.ProjectPage .pro1 .phone {
  position: absolute;
  right: -400px;
}

.ProjectPage h1 {
  text-align: center;
  font-size: 6.25rem;
  color: #333;
  margin-bottom: 200px;
}
.ProjectPage .pro1 {
  position: absolute;
  left: 400px;
}

.ProjectPage .pro2 {
  position: absolute;
  top: 1200px;
  right: 400px;
}

.ProjectPage .pro2 .phone {
  position: absolute;
  right: 800px;
}
.ProjectPage .pro3 {
  position: absolute;
  top: 2100px;
  left: 400px;
}
.ProjectPage .pro3 .phone {
  position: absolute;
  right: -400px;
}

.ProjectPage .pro4 {
  position: absolute;
  top: 3000px;
  right: 400px;
}
.ProjectPage .pro4 .phone {
  position: absolute;
  right: 800px;
}
footer {
  background-color: orange;
  height: 40vh;
  margin: 0;
}
