@charset "utf-8";
@media (width > 1400px) {
  html {
    scroll-behavior: smooth;
  }

  header {
    position: relative;
    margin-bottom: 300px;
  }
  header ul {
    position: fixed;
    list-style: none;
    display: flex;
    flex-direction: row;
    z-index: 9999;
  }
  header ul li {
    margin: 20px;
  }
  header ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.563rem;
    right: 10px;
    z-index: 999;
    display: block;
  }
  header ul li a:hover {
    border-bottom: 2px solid #333;
  }
  .headercontainer {
    display: flex;
    justify-content: right;
    margin-right: 20px;
  }
  header h1 {
    font-size: 8rem;
    color: #333;
    margin-left: 200px;
  }
  header p {
    font-size: 2rem;
    color: #333;
    position: absolute;
    left: 1150px;
    bottom: -35px;
    font-weight: bold;
  }
  header span a {
    text-decoration: none;
    position: absolute;
    color: #333;
    font-size: 1.25rem;
    rotate: 90deg;
    font-weight: bold;
    right: 5vw;
    display: block;
    padding: auto;
  }
  header span a:hover {
    transform: translateX(30px);
    transition: 1s;
  }
  main {
    position: relative;
    overflow: hidden;
    height: 80vh;
  }
  main h1 {
    font-size: 6.25rem;
    color: #333;
    position: absolute;
    padding: 120px 90px 200px;
    background-color: #fff;
    top: -30px;
    z-index: 991;
    height: 500px;
  }
  .skilcon {
    width: 50px;
    position: absolute;
    z-index: 1;
    top: -20px;
  }
  main .skillbox {
    top: 20px;
    width: 400px;
    margin: 40px auto;
    position: relative;
    height: 600px;
  }
  main .swiper-slide {
    border-top: 6px solid #666;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }
  main .swiper-slide h2 {
    font-size: 3.75rem;
    color: #333;
  }
  main .swiper-slide p {
    font-size: 1.125rem;
    font-weight: bold;
    color: #666;
    text-align: left;
    margin-left: 20px;
  }
  .ProjectPage {
    position: relative;
    height: 400vh;
  }

  .ProjectPage .pro h1 {
    font-size: 3rem;
    margin-top: 30px;
    margin: 0;
  }
  .ProjectPage .pro h4 {
    font-size: 1.5rem;
    color: #2b9df2;
  }
  .ProjectPage .pro p {
    font-size: 1rem;
    color: #666;
  }

  .ProjectPage .logo {
    width: 150px;
    margin-bottom: 30px;
  }
  .ProjectPage .phone {
    width: 300px;
    position: absolute;
    right: -600px;
  }

  .ProjectPage h1 {
    margin-left: 50px;
    font-size: 6.25rem;
    color: #333;
    margin-bottom: 200px;
  }
  .ProjectPage .pro1 {
    position: absolute;
    left: 1200px;
    transition: 0.5s;
    opacity: 0;
    transform: translateX(100px);
  }
  .ProjectPage .pro1 .phone {
    right: 700px;
  }

  .ProjectPage .pro2 {
    position: absolute;
    top: 1200px;
    left: 500px;
  }

  .ProjectPage .pro3 {
    position: absolute;
    top: 2100px;
    left: 1200px;
  }
  .ProjectPage .pro3 .phone {
    right: 700px;
  }

  .ProjectPage .pro4 {
    position: absolute;
    top: 3000px;
    left: 500px;
  }
  .view:hover {
    transform: rotate(30deg);
    transition: 0.5s;
  }

  footer {
    height: 80vh;
    margin: 0;
  }
  footer h1 {
    font-size: 5rem;
    margin-left: 50px;
  }
  footer img {
    margin-left: 300px;
    border-radius: 50%;
  }
  footer h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    margin-left: 50vw;
    position: relative;
    bottom: 20vw;
  }
}
